/*  Global  */

@font-face {
    font-family: 'sf_wasabiregular';
    src: url('../fonts//regular/SF_Wasabi-webfont.eot');
    src: url('../fonts//regular/SF_Wasabi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts//regular/SF_Wasabi-webfont.woff') format('woff'),
         url('../fonts//regular/SF_Wasabi-webfont.ttf') format('truetype'),
         url('../fonts//regular/SF_Wasabi-webfont.svg#sf_wasabiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_wasabi_condensedregular';
    src: url('../fonts/condensed_regular/SF_Wasabi_Condensed-webfont.eot');
    src: url('../fonts/condensed_regular/SF_Wasabi_Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/condensed_regular/SF_Wasabi_Condensed-webfont.woff') format('woff'),
         url('../fonts/condensed_regular/SF_Wasabi_Condensed-webfont.ttf') format('truetype'),
         url('../fonts/condensed_regular/SF_Wasabi_Condensed-webfont.svg#sf_wasabi_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	width:100%;
	margin:0 auto;
	font-family:'times new roman';
}

h1{
	font-family:'sf_wasabiregular';
	font-size:2.5rem;
	text-align:center;
}

h2{
	font-family:'sf_wasabiregular';
	font-size:1.8rem;
	margin:1rem 0 1rem 1rem;
	color:rgb(177,34,28);
}

h3{
	font-family:'sf_wasabiregular';
	font-size:1.3rem;
	margin:1rem 0 1rem 1rem;
	color:rgb(177,34,28);
}

h4{
	font-family:'sf_wasabiregular';
	font-size:1.1rem;
	margin:1rem 0 1rem 1rem;
	color:rgb(177,34,28);
}

input[type="submit"]{
	padding:0;
}

.input{
	width:100%;
}

button{
	padding:0;
}

.p_section{
	margin:1rem 1rem 1rem 1rem;
}

a{
	text-decoration:none;
}

p{
	margin:0.5rem 0;
}

img{
	width:100%;
}

.center{
	text-align:center;
}

.clear{
	clear:both;
}

.overflow{
	overflow:hidden;
}

.content{
	width:62.5rem;
	margin:0 auto;
}

.error_msg{
	color:red;
}

.alert{
	text-align:center;
	color:red;
	font-size:1.2rem;
	margin-top:2rem;
}

.main_div{
	margin-top:1rem;
	margin-bottom:1rem;
	border:0.0625rem rgb(153,0,0) solid;
	border-radius:0.3rem;
}

.head_info{
	color:rgb(177,34,28);
}

.float_right{
	float:right;
}

.float_left{
	float:left;
}

.p_btn{
	text-align:center;
	margin-bottom:1rem;
}

.btn{
	border:0.0625rem solid rgb(177,34,28);
	background:white;
	color:rgb(177,34,28);
	border-radius:0.3rem;
	margin:1rem 0 1rem 0;
	transition:all 0.5s;
	cursor:pointer;
}

.btn:hover{
	background:rgb(177,34,28);
	color:white;
}

.btn_medium{
	border:0.0625rem solid rgb(177,34,28);
	background:white;
	color:rgb(177,34,28);
	height:2rem;
	border-radius:0.3rem;
	margin:1rem 0 1rem 0;
	transition:all 0.5s;
	cursor:pointer;
}

.btn_medium:hover{
	background:rgb(177,34,28);
	color:white;
}

.btn_large{
	border:0.0625rem solid rgb(177,34,28);
	background:white;
	color:rgb(177,34,28);
	height:3rem;
	border-radius:0.3rem;
	margin:1rem 0 1rem 0;
	transition:all 0.5s;
	cursor:pointer;
}

.btn_large:hover{
	background:rgb(177,34,28);
	color:white;
}

.sub_small{
	border:0.0625rem solid rgb(177,34,28);
	border-radius:0.3rem;
	background:white;
	color:rgb(177,34,28);
	margin:1rem 0 1rem 0;
	transition:all 0.5s;
}

.sub_small:hover{
	background:rgb(177,34,28);
	color:white;
	cursor:pointer;
}

.sub_medium{
	border:0.0625rem solid rgb(177,34,28);
	border-radius:0.3rem;
	background:white;
	color:rgb(177,34,28);
	width:15%;
	height:2rem;
	margin:1rem 0 1rem 0;
	transition:all 0.5s;
}

.sub_medium:hover{
	background:rgb(177,34,28);
	color:white;
	cursor:pointer;
}

/*  Header  */

.title_color{
	color:rgb(153,0,0);
}

#main_header{
	border-bottom:0.125rem solid rgb(153,0,0);
}

.header{
	padding-bottom:0.5rem;
	overflow:hidden;
	color:rgb(244,244,235);
}

.nav_logged{
	float:right;
	color:rgb(244,244,235);
}

.nav_logged>a{
	color:rgb(244,244,235);
}

.header>p>a{
	text-decoration:underline;
}

.bkg_log{
	background:rgb(177,34,28);
	width:100%;
	height:2rem;
	overflow:hidden;
}

.bkg_top_log{
	background:url("../img/pogoparc2-1200.png") no-repeat center center / contain;
	height:8rem;
	margin-bottom:1rem;
	border:0.0625rem solid rgb(153,0,0);
	border-radius:0.3rem;
}

.title_txt{
	text-align:center;
	font-family: 'sf_wasabi_condensedregular';
}

.form_login{
	float:right;
	width:40%;
}

.form_login>input{
	border:none;
	padding:0;
	margin:0;
	border-radius:0.2rem;
}

.p_register{
	float:right;
	margin:0;
}

.p_register>a{
	color:rgb(244,244,235);
	line-height:2rem;
}

.login_input_text{
	width:35%;
}

.login_input_pass{
	width:35%;
}

.login_submit{
	width:20%;
	background:rgb(254,244,201);
	color:rgb(177,34,28);
	cursor:pointer;
}

.div_logged{
	color:rgb(244,244,235);
}

/*  Nav  */

#main_nav{
	background:rgb(254,244,201);
	border-bottom:0.125rem solid rgb(153,0,0);
}

.main_nav{
	list-style:none;
	overflow:hidden;
	width:60%;
	text-align:center;
	font-family: 'sf_wasabi_condensedregular';
}

.main_nav>li{
	float:left;
	width:20%;
}

.main_nav>li>a{
	display:block;
	width:100%;
	line-height:2rem;
	height:2rem;
	color:rgb(177,34,28);
	transition:all 0.5s;
}

.main_nav>li>a:hover{
	background:rgb(153,0,0);
	color:white;
}

/*  Register  */

.form_register{
	float:left;
	width:33.333333%;
}

.input_register{
	padding:none;
	margin:0;
	border-radius:0.3rem;
}

.register_infos{
	width:80%;
	margin:0 auto;
	text-align:center;
}

.input_register{
	width:50%;
	margin:0 0 1rem 5%;
}

.p_sub_register{
	text-align:center;
	margin:1rem 0 1rem 0;
}

.sub_register{
	border:0.0625rem solid rgb(177,34,28);
	border-radius:0.3rem;
	background:white;
	color:rgb(177,34,28);
	width:15%;
	height:2rem;
}

.sub_register:hover{
	background:rgb(177,34,28);
	color:white;
	cursor:pointer;
}

/*  Profil  */

.div_profil_infos{
	float:left;
	width:33.3333333%;
	margin-bottom:1rem;
}

.profil_info{
	margin-left:5%;
	margin-right:5%;
}

.profil_info_comp{
	width:80%;
	margin:1rem auto;
	text-align:center;
}

/*  Page admin  */

.div_edit_users{
	border-bottom:0.0625rem solid rgb(177,34,28);
	width:80%;
	margin:1rem auto;
}

/*  Form Modif MDP  */

.form_edit_mdp{
	width:80%;
	margin:0 auto;
}

.old_mdp{
	width:40%;
}

.new_mdp{
	float:left;
	width:40%;
}

.verif_new_mdp{
	float:left;
	width:40%;
}

/*  Livre D'or  */

.div_livre_or{
	width:80%;
	margin:1rem auto;
	border-bottom:0.0625rem solid rgb(177,34,28);
}

.div_livre_or:last-child{
	border:none;
}

.comment_txt{
	text-decoration:underline;
}

.form_livre_or{
	text-align:center;
}

.livre_or_info{
	margin-bottom:1rem;
}

.livre_or_comment{
	margin:1rem 0;
}

/*  Footer  */

#main_footer{
	background:rgb(254,244,201);
}

.main_footer{
	font-family: 'sf_wasabi_condensedregular';
	list-style:none;
	overflow:hidden;
	width:60%;
	text-align:center;
}

.main_footer>li{
	float:left;
	width:20%;
}

.main_footer>li>a{
	font-size:0.8rem;
	display:block;
	width:100%;
	height:1rem;
	color:rgb(177,34,28);
}

.footer{
	text-align:center;
	font-family: 'sf_wasabiregular';
	border-bottom:2rem rgb(177,34,28) solid;
}

/*  ???  */
.submit{
	float: right;
	width:10%;
}
