<div class="content main_div">
	<h2>Coordonnées</h2>
	<p class="p_section">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, veniam, explicabo, animi alias natus magni fugiat ipsum molestiae nobis officia dolorem saepe possimus nostrum eveniet porro quis fuga qui et?</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23075.70306956537!2d7.261316!3d43.699418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdd00b8d540e9d%3A0xeca45840231595fe!2sHotel+Goldstar+Resort+et+Suites+Nice!5e0!3m2!1sfr!2sfr!4v1398264954366" width="800" height="600" frameborder="0" style="border:0"></iframe>
</div>