<div class="div_edit_users">
	<div class="div_profil_infos">
		<h3>Informations</h3>
		<p class="profil_info"><span class="head_info">Login:</span> <?= $loginSU;?></p>
		<p class="profil_info"><span class="head_info">Email:</span> <?= $emailSU; ?></p>
		<p class="profil_info"><span class="head_info">Date d'inscription:</span> <?= $registerDateSU; ?></p>
	</div>
	<div class="div_profil_infos">
		<h3>Présentation</h3>
		<p class="profil_info"><span class="head_info">Nom:</span> <?= $nameSU;?></p>
		<p class="profil_info"><span class="head_info">Prenom:</span> <?= $surnameSU;?></p>
	</div>
	<div class="div_profil_infos">
		<h3>Coordonnées postale</h3>
		<p class="profil_info"><span class="head_info">Adresse:</span> <?= $adressSU;?></p>
		<p class="profil_info"><span class="head_info">Code postal:</span> <?= $cpSU;?></p>
		<p class="profil_info"><span class="head_info">Ville:</span> <?= $citySU;?></p>
	</div>
	<div class="profil_info_comp clear">
		<h3 class="clear">Infos Complementaires:</h3>
		<p class="profil_info_comp_txt"><?=$infosSU;?></p>
	</div>
    <p class="p_btn">
        <button class="btn" onclick="window.location='index.php?page=edit_user&iduser=<?=$idSU?>'">Modifier utilisateur</button>
        <?php require("apps/display_delete_user.php");?>
    </p>
</div>



