<div class="content main_div overflow">
    <h2>Modifier son mot de passe</h2>
    <p class="error_msg"><?=$msg;?></p>
    <form class="form_edit_mdp" action="index.php?page=edit_mdp&id=<?=$idU?>" method="post">
        <p class="profil_info old_mdp"><span class="head_info">Ancien mot de passe : </span><input class="input" type="password" name="update_old_pass" required /></p>
        <p class="profil_info new_mdp"><span class="head_info">Nouveau mot de passe : </span><input class="input" type="password" name="update_new_pass" required /></p>
        <p class="profil_info verif_new_mdp"><span class="head_info">Vérification nouveau mot de passe : </span><input class="input" type="password" name="update_new_pass_chk" required /></p>
        <p class="p_btn"><input class="sub_medium" name="update_pass_sub" type="submit"></p>
    </form>
    <p class="p_btn"><button class="btn" onclick="window.location='index.php?page=profile&id=<?=$idU;?>'">Annuler</button></p>
</div>