<p class="p_btn">
	<button class="btn" onclick="window.location='index.php?page=edit_users&id=<?=$idU;?>'">Gestion utilisateurs</button>
</p>
<p class="p_btn">
	<button class="btn" onclick="window.location='index.php?page=edit_plats'">Gestion des plats</button>
	<button class="btn" onclick="window.location='index.php?page=edit_menu'">Gestion des menus</button>
	<button class="btn" onclick="window.location='index.php?page=edit_command'">Gestion des commandes</button>
	<button class="btn" onclick="window.location='index.php?page=edit_reserv'">Gestion des réservations</button>
</p>

